body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
}

main {
    margin-top: 20px;
}

#productList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.product-item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    width: 200px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.product-item h3 {
    margin-top: 0;
    font-size: 1.2em;
}

.product-item p {
    margin: 0.5em 0;
}
